# IDE
.idea/
*.iml
.DS_Store

# Gradle
.gradle/
**/build/
build/
local.properties
.kotlin/

# Native / Filament
/filament-main/
/filament-prebuilts/
c/build/
C/build/

# Temp / OS
*.hprof
*.log
.DS_Store
**/ .DS_Store